
<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<div class="my-5 row">
  <div class="field col-2">
    <%= form.label :name %>
  </div>
  <div class="col-10">
    <%= form.text_field :name, id: :user_name %>
  </div>
</div>

  <div class="my-5 row">
  <div class="field col-2">
    <%= form.label :Description %>
    </div>
  <div class="col-10">
    <%= form.text_area :beschreibung, id: :user_beschreibung %>
  </div>
  </div>

  <div class="my-5 row">
  <div class="field col-2">
    <%= form.label :eMail %>
  </div><div class="col-10">
    <%= form.text_field :eMailAddress, id: :user_eMailAddress %>
</div>
  </div>

  <div class="actions col-sm-10 px-0">
    <%= form.submit %>
  </div>
<% end %>
