<p id="notice"><%= notice %></p>

<h1>Users</h1>


<div class="row py-3">
  <div class="col-2"> User - ID</div>
      <div class="col-2"> Name</div>
  <div class="col-2">Description</div>
  <div class="col-2">Email</div>

</div>

    <% @users.each do |user| %>
      <div class="row py-1">
        <div class="col-2"> <%= user.id %></div>
        <div class="col-2"> <%= user.name %></div>
        <div class="col-2"><%= user.beschreibung %></div>
        <div class="col-2"><%= user.eMailAddress %></div>
        <div class="col-1"> <%= link_to 'View', user %></div>
        <div class="col-1"><%= link_to 'Edit', edit_user_path(user) %></div>
          <div class="col-1"><%= link_to 'Delete', user, method: :delete, data: { confirm: 'Are you sure?' } %></div>
      </div>
    <% end %>

<br>


<%= link_to 'New User', new_user_path, class: "btn btn-primary" %>
