<p id="notice"><%= notice %></p>

<h1>User</h1>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @user.beschreibung %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.eMailAddress %>
</p>
<p>
  <strong>User - ID:</strong>
  <%= @user.id%>
</p>




<div class="pt-5">
<h2>Comments</h2>
<%= render @user.posts%>
</div>
<hr class="my-5">
<h2>Create Comment</h2>

<div class="pt-3">
<%= render "posts/form" %>
  </div>

<div class="my-5">
<%= link_to 'Edit', edit_user_path(@user)%> |
<%= link_to 'Back', users_path %>
</div>







