<body class="container">
<nav class="bg-secondary nav-corners">
  <div class="row navbar text-center">

    <div class="col-3 active text-center"><a class="col-3 text-white " href="index.html">Home</a></div>
    <div class="col-3 nav-item active "><a class="col-3  text-white" href="Deckblatt.html">Deckblatt</a></div>
    <div class="col-3 nav-item active "><a class="col-3  text-white" href="Anschreiben.html">Anschreiben</a></div>
    <div class="col-3 nav-item active "><a class="col-3 text-white" href="Lebenslauf.html">Lebenslauf</a></div>


  </div>
</nav>
<header>
  <div class="row" >
    <div class="col-3">
      <p class="container bg-secondary text-white" id="header-box">
        Anschreiben
      </p>
    </div>
  </div>
</header>
<article>
  <address class="my-3">
    <p>
      Max Mustermann <br>
      Musterstraße 23 <br>
      12345 Musterstadt
    </p>
  </address>
  <address class="my-3">
    <p>Musterarbeitgeber GmbH<br>
      Frau Anja Mustermann<br>
      Musterstraße 22<br>
      12345 Musterstadt
    </p>
  </address>
  <section>
    <p class="text-right">
      01.01.2018
    </p>
  </section>
  <div>
    <section>
      <p>
      <h4>Bewerbung als Softwareentwickler</h4> <!-- h macht auch einen Zeilenumbruch am ende-->
      Ihre Stellenanzeige vom 31.12.2017 auf Lebenslauf.net | Referenznummer A-12345
      </p>
    </section>
    <section>
      <p>
      <p>
        Sehr geehrte Frau Mustermann,
      </p>
      <p>
        Ihr Stellenangebot für die Position des Junior-Beraters ist die perfekte Möglichkeit, meine analytische Denkweise und mein breites Wissen aus meinem MBA in der Praxis anzuwenden. (UNTERNEHMESNAME) als führendes Beratungsunternehmen bietet mir die gesuchte Herausforderung um als Berater in einem internationalen Umfeld tätig zu sein an spannenden Projekten weltweit mitzuwirken.
      </p>
      <p>
        Während meiner Ausbildung bei (UNTERNEHMENSNAME) habe ich eigenständig Projekte initiiert und organisiert und meine Ausbilder von meinem Talent als Versicherungsberater überzeugt. Meine Kommunikations- und Organisationsfähigkeit und meine Leidenschaft fürs Kundenmanagement zeigten sich deutlich in meinen Beratungserfolgen und Kundenbewertungen und ließen mich frühzeitig Führungsverantwortung übernehmen.
      </p>
      <p>
        Für weitere Fragen stehe ich gerne zur Verfügung. Auf eine persönliche Vorstellung, in der ich Sie von meinen fachlichen Kenntnissen und Motivation überzeugen kann, freue ich mich.
      </p>
      <p>
        Mit freundlichen Grüßen
      </p>
      <p>
        <br> Max Mustermann
      </p>
      </p>
    </section>
  </div>
  <section class="anlagen">
    <p>
      Anlagen
    </p>
    <ul>
      <li>Lebenslauf</li>
    </ul>
  </section>
</article>
<footer class="page-footer mt-4 container bg-secondary footer-stuff">
  <div class="text-center text-white mt-5">
    Thom, Florian: Web Entwicklung: Bewerbungsmappe 2018
  </div>
</footer>
