<%= form_for([@user, @user.posts.build]) do |form| %>

  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-1 row">
    <div class="field col-2">
    <%= form.label :poster, "Poster-ID" %>
    </div>
    <div class="col-10">
        <%= form.collection_select :poster, User.all, :id, :id %>



  </div>
  </div>

  <div class="my-1 row">
    <div class="field col-2">
    <%= form.label :title %>
    </div>
      <div class="col-10">
    <%= form.text_field :title %>
  </div>
    </div>

    <div class="my-1 row">
      <div class="field col-2">
    <%= form.label :content %>
      </div>
        <div class="col-10">
    <%= form.text_area :content%>
  </div>
      </div>



  <div class="actions">
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>



