<p>
  <b>Poster - ID:</b>
  <%= post.poster %>
</p>
  <b>Title:</b>
  <%= post.title %>
</p>
<p>
  <b>Comment:</b>
  <%= post.content %>
</p>

<p>
  <%= link_to 'Delete Post', [post.user, post],
              :confirm => 'Are you sure?',
              :method => :delete %>
</p>