<!DOCTYPE html>
<html>
  <head>
    <title>Uebung3</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body class="container">
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="<%=root_path%>">Uebung3-Test-Project</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%=root_path%>">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="<%= users_path %>">Users</a>
      </li>

    </ul>
  </nav>
  <div class="py-3">

    <%= yield %>

  </div>
  </body>
</html>
